@font-face {
    font-family: 'Marker';
    src: url(/fonts/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoCondensed-Regular.ttf);
}
.navbar-brand{
    font-family:'Marker' !important;
}
body{
    font-family:'Roboto' !important;
}
.alert{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
}
.container-fluid{
    display:flex;
    flex-flow:column;
    min-height: 100vh;
}
main{
    flex:1 1 auto;
}
#profile>i{
    color:white !important;
}

h1{
    font-family:'Marker';
}
#link-cards>*>*>*{
    color:var(--bs-success);
    text-decoration: none;
}
#link-cards>*>*:hover{
    background: var(--bs-success);
    transform: scale(110%);
}
#link-cards>*>*:hover>*{
    color:white;
}
#link-cards>*>*{
    transition:all 0.1s;
}
.card-img-top>.bi{
    font-size: 6rem;
}
.nav-link{
    transition:all 0.1s;
}
canvas{
    width: 100%;
    max-height: 600px;
}
header{
    background: linear-gradient(var(--bs-success), 75%,var(--bs-dark));
}