<div id="cards" class="d-none d-md-block">
    <h2>Your activites</h2>
    <div class="row p-3" id="link-cards">
        <div class="col-3">
            <div class="card h-100">
                <a href="/dash/upload">
                    <div class="card-img-top text-center border-bottom border-2"><i class="bi bi-cash-coin"></i></div>
                    <div class="card-body text-center">
                        <h3>Upload a new entry</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
                <a href="/dash/summary">
                    <div class="card-img-top text-center border-bottom border-2"><i class="bi bi-calendar2-check"></i></div>
                    <div class="card-body text-center">
                        <h3>View this month's summary</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
                <a href="/dash/charts">
                    <div class="card-img-top text-center border-bottom border-2"><i class="bi bi-pie-chart"></i></div>
                    <div class="card-body text-center">
                        <h3>View your charts</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="card h-100">
                <a href="/dash/table">
                    <div class="card-img-top text-center border-bottom border-2"><i class="bi bi-table"></i></div>
                    <div class="card-body text-center">
                        <h3>View your table</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>