<%
    let dates = [];
    let profits = [];
    spendings.forEach(element=>{
        dates.push(element.spendDate.split('T')[0].split('-')[0]+"-"+element.spendDate.split('T')[0].split('-')[1]);
    });
    dates = Array.from(new Set(dates));
    for (let i = 0; i < dates.length; i++) {
        for (let g = 0; g < dates.length; g++) {
            if (dates[i]<dates[g]){
                let temp = dates[i];
                dates[i] = dates[g];
                dates[g] = temp;
            }
        }
    }
    dates.forEach(element => {
        let i = 0;
        spendings.filter(e=>e.spendDate.split('T')[0].split('-')[0]+"-"+e.spendDate.split('T')[0].split('-')[1]==element).forEach(g=>{
            i += g.isProfit == 1 ? g.moneyAmount : g.moneyAmount * -1;
        })
        profits.push(i);
    });
%>


<main class="p-5">
    <h2>Your Charts</h2>

    <canvas>

    </canvas>



    <script src="/js/chartjs/chart.min.js"></script>
    <script>
        let ctx = document.querySelector('canvas').getContext('2d');
        
        let dates = [
            <% for (let i = 0; i < dates.length; i++) { %>
                '<%=dates[i]%>',
            <%}%>
            ];
        const chart = new Chart(ctx, {
            type:'line',
            data:{
                labels:dates,
                datasets:[{
                    data:[
                        <% for(let i = 0; i < profits.length; i++) { %>
                            <%= profits[i] %>,
                        <% } %>
                    ],
                    label:'Total Ft',
                    backgroundColor:["#198051"],
                    borderColor:['#198051'],
                    tension:dates.length/10
                }]
            }
                     
        })


    </script>
</main>