<main class="my-5 px-3 d-flex flex-column">
    <% if (message!=undefined) { %>
        <%- include('../partials/message') %>
    <% } %>
    <%- include('./hello') %>
    <%- include ('./cards') %> 
</main>