<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bs-icons/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-0">
    <header class="text-light bg-success py-5 text-center"><h1  ><%= pagedata.name %></h1></header>