<main class="p-5">
    <h2>Log in</h2>
    <form action="/api/users/login" class="p-3 my-5 col-md-6" method="post">
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label for="passwd">Password:</label>
            <input type="password" class="form-control" name="passwd">
        </div>
        <input type="submit" class="btn btn-outline-success" value="Log in">
        <a href="/register" class="btn btn-outline-success">Register</a>
    </form>
</main>
