<main class="p-md-5">
    <h2>Log in</h2>
    <form action="/api/users/login" class="p-lg-3 my-5 col-md-6 offset-lg-3" method="post">
        <div class="p-3 bg-light rounded border border-dark py-4">
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label for="passwd">Password:</label>
                <input type="password" class="form-control" name="passwd">
            </div>
            <input type="submit" class="btn btn-outline-success" value="Log in">
            <a href="/register" class="btn btn-outline-success">Register</a>
        </div>
    </form>
</main>
