<main class="p-5">
    <% if (message!=undefined) { %>
        <%- include('../partials/message') %>
    <% } %>
    <h2>Register</h2>
    <form action="/api/users/register" class="p-3 my-5 col-md-6 border rounded border-dark" method="post">
        <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label for="passwd">Password:</label>
            <input type="password" class="form-control" name="passwd">
        </div>
        <div class="mb-3">
            <label for="passwd2">Password again:</label>
            <input type="password" class="form-control" name="passwd2">
        </div>
        <div class="my-5">
            <input type="submit" class="btn btn-outline-success" value="Register">
            <a href="/" class="btn btn-outline-success">Log in</a>
        </div>
    </form>
</main>
